---

---

<div id="get-started" class="my-32 flex w-full flex-col items-center justify-center lg:max-w-[90rem] lg:px-12 section-fade snap-center">
  <div class="flex flex-col items-center justify-center max-w-xl px-4 pb-4 text-center lg:mr-4">
    <span
      class="px-3 py-1 border rounded-full shadow-[inset_0_-7px_11px_#a48fff1f] text-[0.92rem] border-side-purple-400/60 flex text-white bg-material/50 backdrop-blur-md w-max"
      >Download</span
    >
    <h1
      class="text-3xl xs:text-4xl sm:leading-none sm:text-[3rem] font-medium text-white font-title shadow-title-b block bg-clip-text !text-transparent mt-6"
    >
      Get started
    </h1>
    <p class="mt-2 sm:mt-3 text-zinc-300/70">
      SideStore works on iOS 14.0 and higher. You'll need a computer for the initial setup, but after that you can install apps directly on your
      device. <br />
    </p>
  </div>

  <div
    class="flex items-start w-full px-4 mt-4 section-fade section-fade-less max-w-[70rem] space-y-4 lg:space-y-0 lg:space-x-4 flex-col lg:flex-row"
  >
    <div
      class="flex flex-col items-center justify-center w-full h-full col-span-4 p-4 overflow-hidden text-sm text-left border lg:w-max sm:p-8 lg:mt-0 bg-material/30 border-zinc-800 rounded-3xl sm:text-base text-zinc-300 min-w-max lg:min-w-[17.3125rem]"
    >
      <ol class="flex items-center w-full text-sm text-center lg:flex-col sm:text-base peer/stepper lg:items-start" id="setup-stepper">
        <li class="flex items-center group active w-max">
          <span
            class="flex w-max min-w-max items-center rounded-full border border-zinc-800 bg-material px-3 py-1 shadow-md transition-colors duration-300 group-[.active]:border-purple-400/60 group-[.active]:bg-side-purple-700/30 group-[.active]:font-title hover:border-purple-400/40 hover:bg-side-purple-700/20 xs:group-[.active]:font-medium"
          >
            <span class="font-bold">1</span>
            <span class="hidden md:block md:ml-2 xs:group-[.active]:block xs:group-[.active]:ml-2 w-max">Download SideServer</span>
          </span>
        </li>
        <li
          aria-hidden="true"
          class="flex-grow inline-block w-full h-1 mx-1 ml-3 border-b border-gray-700 lg:border-b-0 lg:border-r lg:w-1 lg:h-3 xs:mx-3 lg:my-3 border-1"
        >
        </li>

        <li class="flex items-center group">
          <span
            class="flex w-max min-w-max items-center rounded-full border border-zinc-800 bg-material px-3 py-1 shadow-md transition-colors duration-300 group-[.active]:border-purple-400/60 group-[.active]:bg-side-purple-700/30 group-[.active]:font-title hover:border-purple-400/40 hover:bg-side-purple-700/20 xs:group-[.active]:font-medium"
          >
            <span class="font-bold">2</span>
            <span class="hidden md:block md:ml-2 xs:group-[.active]:block xs:group-[.active]:ml-2">Sideload App</span>
          </span>
        </li>
        <li
          aria-hidden="true"
          class="flex-grow inline-block w-full h-1 mx-1 ml-3 border-b border-gray-700 lg:border-b-0 lg:border-r lg:w-1 lg:h-3 xs:mx-3 lg:my-3 border-1"
        >
        </li>

        <li class="flex items-center group">
          <span
            class="flex w-max min-w-max items-center rounded-full border border-zinc-800 bg-material px-3 py-1 shadow-md transition-colors duration-300 group-[.active]:border-purple-400/60 group-[.active]:bg-side-purple-700/30 group-[.active]:font-title hover:border-purple-400/40 hover:bg-side-purple-700/20 xs:group-[.active]:font-medium"
          >
            <span class="font-bold">3</span>
            <span class="hidden md:block md:ml-2 xs:group-[.active]:block xs:group-[.active]:ml-2">WireGuard VPN</span>
          </span>
        </li>
        <li
          aria-hidden="true"
          class="flex-grow inline-block w-full h-1 mx-1 ml-3 border-b border-gray-700 lg:border-b-0 lg:border-r lg:w-1 lg:h-3 xs:mx-3 lg:my-3 border-1"
        >
        </li>
        <li class="flex items-center group">
          <span
            class="flex w-max min-w-max items-center rounded-full border border-zinc-800 bg-material px-3 py-1 shadow-md transition-colors duration-300 group-[.active]:border-purple-400/60 group-[.active]:bg-side-purple-700/30 group-[.active]:font-title hover:border-purple-400/40 hover:bg-side-purple-700/20 xs:group-[.active]:font-medium"
          >
            <span class="font-bold">4</span>
            <span class="hidden md:block md:ml-2 xs:group-[.active]:block xs:group-[.active]:ml-2">Finished</span>
          </span>
        </li>
      </ol>
    </div>
    <div
      class="flex flex-col items-center justify-center w-full h-full col-span-4 p-4 overflow-hidden text-sm text-left border sm:p-8 lg:mt-0 bg-material/30 border-zinc-800 rounded-3xl sm:text-base min-h-[24.5rem] md:min-h-[27.75rem]"
    >
      <div class="flex flex-col-reverse items-center flex-grow w-full h-full lg:flex-col text-zinc-300">
        <div id="setup-content" class="flex-grow w-full h-full mt-4 text-left transition-all duration-300 translate-y-0 opacity-100 lg:mt-0 lg:mb-8">
        </div>

        <div class="flex items-start w-full">
          <div class="flex flex-col justify-center w-full bardualok:justify-start bardualok:items-center bardualok:flex-row">
            <span class="mb-1 text-sm sm:text-base bardualok:mb-0">Viewing instructions for:</span>

            <div class="flex items-center group">
              <select
                id="setup-os-select"
                class="text-sm sm:text-base bardualok:ml-2 transition-colors bg-transparent border group-hover:bg-material pl-2.5 pr-8 py-1 rounded-full border-zinc-800 appearance-none shadow-md focus:outline-none focus:border-violet-300/50"
              >
                <option value="mac">Mac</option>
                <option value="windows">Windows</option>
                <!-- <option value="linux">Linux</option> -->
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 -translate-x-6" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"> </path>
              </svg>
            </div>
          </div>

          <!-- <div class="w-full"></div> -->
          <!-- if peer/stepper nth child 0 is active, disabled -->
          <div class="flex items-center group" id="setup-btn-wrap">
            <button
              id="setup-prev-btn"
              class="flex items-center justify-center px-1 py-1 mr-2 transition-colors bg-transparent border rounded-full shadow-md appearance-none lg:h-[34px] lg:min-w-[34px] nextprevok:px-3 sm:group-[.onlyprev]:px-3 w-max hover:bg-material border-zinc-800 focus:outline-none active:border-violet-300/50"
            >
              <svg
                xmlns=" http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-5 h-5 nextprevok:mr-2 sm:group-[.onlyprev]:mr-2"
                viewBox="0 0 256 256"
              >
                <path
                  d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"
                >
                </path>
              </svg>
              <span class="hidden nextprevok:block nextprevok:w-max sm:group-[.onlyprev]:block sm:group-[.onlyprev]:w-max" aria-label="Previous Step"
                >Previous Step</span
              >
            </button>

            <button
              id="setup-next-btn"
              aria-label="Next Step"
              class="flex items-center px-1 py-1 transition-colors bg-transparent border rounded-full shadow-md appearance-none md:px-3 w-max hover:bg-material border-zinc-800 focus:outline-none active:border-violet-300/50 peer"
            >
              <span class="hidden md:block md:w-max">Next Step</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5 md:ml-2" viewBox="0 0 256 256">
                <path
                  d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
                >
                </path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
