<div class="mt-8 sm:mt-12 flex h-full w-full max-w-[90rem] flex-col items-center overflow-hidden lg:mt-0 lg:grid lg:grid-cols-8 lg:px-12 snap-center">
  <div class="flex flex-col justify-center px-4 text-left lg:col-span-4 lg:-translate-y-2/4 lg:pl-12 2xl:pl-0">
    <h1 class="text-4xl font-medium tracking-tight shadow-title-r block !text-transparent font-title sm:text-5xl lg:text-7xl bg-clip-text">
      SideStore
    </h1>
    <p class="max-w-xl mt-5 text-lg text-zinc-300">
      An alternative app store for seamless sideloading. No jailbreak needed, and
      <b>no computer</b>
      after the initial install, only a WiFi connection.
    </p>
    <div class="flex flex-col gap-2 mt-5 buttonsok:flex-row">
      <a
        href="https://wiki.sidestore.io/guides/getting-started/"
        class="flex items-center justify-center rounded-full bg-side-purple-700 hover:bg-side-purple-600 transition-colors px-7 py-2.5 hover:shadow-[inset_0_-7px_11px_#a48fff1f] font-medium text-white"
      >
        Get Started
      </a>

      <a
        href="https://wiki.sidestore.io"
        target="_blank"
        class="flex items-center justify-center rounded-full border-zinc-800 hover:border-zinc-700 hover:bg-material transition-colors border px-7 py-2.5 font-medium text-white"
      >
        Wiki
      </a>
    </div>
  </div>

  <!-- 1665w by 2102h is the source -->
  <div class="items-center justify-center hidden w-full h-full px-12 translate-x-24 lg:col-span-4 lg:flex stoplgtranslation:translate-x-0">
    <img
      alt="Phone render"
      src="assets/hero_render2.png?as=webp"
      srcset="assets/hero_render2.png?as=webp&width=832&height=1051, assets/hero_render2.png?as=webp 2x"
      class="object-scale-down max-w-3xl max-h-full w-[48rem] h-[60.5975rem]"
    />
  </div>

  <div class="mask-fade-bottom mr-0 max-h-[54rem] w-screen translate-x-1/4 md:w-full lg:hidden">
    <img
      alt="Phone render"
      src="assets/hero_render2.png?as=webp&width=832&height=1051"
      class="object-scale-down max-w-3xl max-h-full bg-cover w-[48rem] h-[60.634rem]"
    />
  </div>
</div>
