<include src="./src/components/marqueeItem.html"
  >{ "name": "UTM", "icon":"assets/app_icons/Delta.png", "desc": "Run virtual machines on iOS" }</include
>

<include src="./src/components/marqueeItem.html"
  >{ "name": "Provenance", "icon":"assets/app_icons/Provenance.png", "desc": "Multi-emulator frontend, supporting various Atari, Bandai, NEC,
  Nintendo, Sega, SNK and Sony console systems…" }</include
>

<include src="./src/components/marqueeItem.html"
  >{ "name": "PojavLauncher", "icon":"assets/app_icons/PojavLauncher.png", "desc": "A Minecraft: Java Edition Launcher" }</include
>

<include src="./src/components/marqueeItem.html">
  { "name": "Flycast", "icon":"assets/app_icons/Flycast.png", "desc": "A Dreamcast, Naomi, Naomi 2 and Atomiswave emulator." }
</include>

<include src="./src/components/marqueeItem.html">
  { "name": "DolphiniOS", "icon":"assets/app_icons/DolphiniOS.png", "desc": "A port of the popular Dolphin emulator to iOS." }
</include>

<include src="./src/components/marqueeItem.html">
  { "name": "PokeMMO", "icon":"assets/app_icons/PokeMMO.png", "desc": "PokeMMO is a free to play mmorpg, come join a growing community as you level up
  and discover new monsters." }
</include>

<include src="./src/components/marqueeItem.html">
  { "name": "Delta", "icon":"assets/app_icons/Delta.png", "desc": "Classic games in your pocket." }
</include>

<include src="./src/components/marqueeItem.html">
  { "name": "Clip", "icon":"assets/app_icons/Clip.png", "desc": "Manage your clipboard history with ease." }
</include>
